*.iml
*.iws
*.ipr
/out
.project
build
.classpath
.DS_Store
bin/
classes/
.settings
.gradle
output
.idea
target
log/
out/
.metadata/
.recommenders/
*.log
.nb-gradle
.nb-gradle-properties
src/main/resources/*.properties
src/main/resources/opennlp-models/*
dependency-reduced-pom.xml